.log-text {
  color: rgb(125, 150, 138);
  font-family: 'Times New Roman', Times, serif;
  text-align: center;

  /* background-color: rgb(240, 244, 247); */
  border-radius: 10px;
  -webkit-text-stroke: 1px #010112;
  -webkit-text-fill-color: #fff;
  font-weight: 800;
  margin-top: 25vh;
  margin-bottom: 10vh;
  font-size: 2.8rem;
}

.home-img {
  background-image: url("https://images.unsplash.com/photo-1568772585471-4f4169aed2a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  max-height: 100vh;
  padding-bottom: 37%;
}
